.slide-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: transform, opacity;
}

.slide-up.visible {
  opacity: 1;
  transform: translateY(0);
}



.back-links {
    margin: 20px 100px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.back-links button {
    font-size: 14px;
    color: #5DBAA6;
    border: none;
    background: none;
    cursor: pointer;
}






.search{
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8%;
    margin-top: 10px;
}
.search-location{
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  width: 36%;
  height: 46px;
  display: flex;
  align-items: center;
  background: #fff;
}

.search-location-i {
  color: #5DBAA6;
  font-size: 20px;
  margin: 0 0.8vw;
}

.search-location-input {
  border: none;
  outline: none;
  font-size: 15px;
  color: #000;
  width: 100%;
  background: transparent;
  height: 100%;
}


.search-tabs {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid #d1d1d1;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
  height: 46px;
  margin: 0;
}
.search-tabs .all-tab {
  padding: 10px 1.5vw;
  border-radius: 4px;
  background: white;
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
  transition: ease-in-out 0.2s;
}


.search-type{
    border: 1px solid #D1D1D1;
  border-radius: 4px;
  width: 15%;
  height: 46px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  background: #fff;
  margin: 0;
}
.custom-select{
    padding-left: 10px;
    /* background-image: url("data:image/svg+xml,%3Csvg fill='%235DBAA6' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E"); */

}


.more-filter{
    width: 10%;
    padding-left: 12px;
}


.search-beds {
  padding-left: 12px;
}



.search-type .custom-options {
  width: 107%;
  margin-left: 0%;
}
.search-beds .custom-options1 {
  width: 108%;
  margin-left: -7%;
}



