*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #fff;
}


.slide-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: transform, opacity;
}

.slide-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.btn-up {
  transition: all 0.5s ease-in-out;
}

.btn-up:hover {
  margin-top: -1.5px;
  margin-bottom: 1.5px;
}






nav {
  color: #000;
  padding: 0px 100px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 8px 8px -4px #03030333;
  z-index: 1;
}

.logo {
  height: 35px;
  width: auto;
  border-radius: 0;
}



.nav-right button {
  height: 40px;
  width: 120px;
  background: #5DBAA6;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-right button:hover {
  background: #2da389;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right button i {
  font-size: 22px;
  margin-right: 5px;
}

.nav-right-icon {
  margin-right: 15px;
  font-size: 25px;
  color: #7D7D7D;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: rgb(70, 70, 70);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
}

nav ul li a:hover {
  color: #5DBAA6;
}

.dropdown {
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  min-width: 180px;
  z-index: 1000;
  background: #fff;
  border: 1px solid #5DBAA6;
  border-radius: 6px;
}

.dropdown a {
  padding: 10px !important;
}

.nav-icon {
  color: #5DBAA6;
  transition: transform 0.3s ease;
  margin-left: 5px;
}

nav a:hover .nav-icon {
  transform: rotate(180deg);
}

li:hover .dropdown {
  display: flex;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: #5DBAA6;
  border-radius: 2px;
}

.nav-right-mobile {
  display: none;
}









.banner {
  width: 100%;
  background-image: url('images/banner2.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.banner-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.banner-top{
  text-align: center;
}
.banner-top-heading {
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
  font-family: "Playfair Display", serif;
}

.banner-top-p {
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
}


.banner-bottom-back{
  width: 100%;
  height: fit-content;
  background: #edf0f3;
  border-radius: 8px;
  padding: 15px;
  margin-top: 30px;
}
.banner-tabs1 {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid #bababa;
  padding: 4px;
  border-radius: 6px;
  background: #fff;
  width: 30%;
}
.prop-tabs,
.all-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  overflow: hidden;
  width: 100%;
}
input[type="radio"] {
  display: none;
}
.prop-tab,
.city-tab,
.all-tab {
  height: 42px;
  width: 50%;
  border-radius: 4px;
  background: white;
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all .3 ease-in-out;
  transition: ease-in-out 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
input#prop-tab1:checked~label[for="prop-tab1"],
input#prop-tab2:checked~label[for="prop-tab2"],
input#prop-tab3:checked~label[for="prop-tab3"],
input#prop-tab4:checked~label[for="prop-tab4"],
input#city-tab1:checked~label[for="city-tab1"],
input#city-tab2:checked~label[for="city-tab2"],
input#city-tab3:checked~label[for="city-tab3"],
input#city-tab4:checked~label[for="city-tab4"],
input#city-tab5:checked~label[for="city-tab5"],
input#city-tab6:checked~label[for="city-tab6"],
input#all-tab1:checked~label[for="all-tab1"],
input#all-tab2:checked~label[for="all-tab2"],
input#all-tab3:checked~label[for="all-tab3"] {
  background: #5DBAA6;
  color: #fff;
  transition: ease-in-out 0.2s;
}

.city-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  overflow: hidden;
}

.city-tab {
  padding: 12px 20px;
}












.banner-form-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1%;
  width: 100%;
  margin-top: 15px;
}
.banner-tabs2 {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid #bababa;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
  width: 600px;
  margin: 0;
  height: 46px;
}
.all-tabs {
  gap: 2px;
}
.all-tab {
  width: 33.3%;
  height: 38px;
}


.form-location {
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  background: #fff;
}
.form-location-i {
  color: #5DBAA6;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 15px;
}
.form-location-input {
  border: none;
  outline: none;
  font-size: 14px;
  color: #000;
  width: 100%;
  background: transparent;
  height: 100%;
}
.showOmMobile{
  display: none;
}
.form-btn {
  height: 46px;
  width: 30%;
  background: #5DBAA6;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.form-btn:hover {
  background: #2da389;
}




.form-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1%;
  width: 100%;
  margin-top: 10px;
}





.bottom-type {
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  width: 50%;
  height: 46px;
  display: flex;
  align-items: center;
  background: #fff;
}
.property-type{
  display: flex;
  align-items: center;
}
.bottom-type-i {
  color: #5DBAA6;
  font-size: 20px;
  margin: 10px;
}

.custom-dropdown {
  width: 100%;
  position: relative;
}

.custom-select {
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%235DBAA6' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-size: 30px;
  height: 44px;
  font-size: 14px;
  color: #4f4f4f;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-options {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #D1D1D1;
  position: absolute;
  width: 100%;
  margin-left: 0;
  background: #fff;
  z-index: 99;
  display: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: -2px 4px 20px -3px #5DBAA6;
}

.custom-options.show {
  display: block;
}

.custom-options li {
  padding: 10px 20px;
  height: 46px;
  cursor: pointer;
  color: #4f4f4f;
  transition: all 0.2s;
}

.custom-options li:hover,
.custom-options li.selected {
  background: #5DBAA6;
  color: #fff;
}


.bottom-others {
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  width: 49%;
  height: 46px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background: #fff;
  margin: 0;
}

















.custom-dropdown1 {
  width: 100%;
  position: relative;
}

.custom-select1 {
  display: flex;
  align-items: center;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%235DBAA6' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-size: 30px;
  height: 44px;
  font-size: 14px;
  color: #4f4f4f;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.custom-options1 {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #D1D1D1;
  position: absolute;
  width: 110%;
  margin-left: -10%;
  background: #fff;
  z-index: 99;
  display: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: -2px 4px 20px -3px #5DBAA6;
}

.custom-options1.show1 {
  display: block;
}

.custom-options1 li {
  padding: 10px 20px;
  height: 46px;
  cursor: pointer;
  color: #4f4f4f;
  transition: all 0.2s;
}

.custom-options1 li:hover,
.custom-options1 li.selected1 {
  background: #5DBAA6;
  color: #fff;
}




.custom-dropdown-price {
  width: 100%;
  position: relative;
}

.custom-select-price {
  display: flex;
  align-items: center;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%235DBAA6' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-size: 30px;
  height: 44px;
  font-size: 14px;
  color: #4f4f4f;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.custom-options-price {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #D1D1D1;
  position: absolute;
  width: 110%;
  margin-left: -10%;
  background: #fff;
  z-index: 99;
  display: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: -2px 4px 20px -3px #5DBAA6;
}

.custom-options-price.showPrice {
  display: block;
}

.custom-options-price li {
  padding: 10px 20px;
  height: 46px;
  cursor: pointer;
  color: #4f4f4f;
  transition: all 0.2s;
}

.custom-options-price li:hover,
.custom-options-price li.selectedPrice {
  background: #5DBAA6;
  color: #fff;
}





.custom-dropdown-area {
  width: 100%;
  position: relative;
}

.custom-select-area {
  display: flex;
  align-items: center;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%235DBAA6' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-size: 30px;
  height: 44px;
  font-size: 14px;
  color: #4f4f4f;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.custom-options-area {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #D1D1D1;
  position: absolute;
  width: 110%;
  margin-left: -10%;
  background: #fff;
  z-index: 99;
  display: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: -2px 4px 20px -3px #5DBAA6;
}

.custom-options-area.showArea {
  display: block;
}

.custom-options-area li {
  padding: 10px 20px;
  height: 46px;
  cursor: pointer;
  color: #4f4f4f;
  transition: all 0.2s;
}

.custom-options-area li:hover,
.custom-options-area li.selectedArea {
  background: #5DBAA6;
  color: #fff;
}











.appoinment-main {
  margin: 0px 100px;
}

.appoinment-img-div {
  width: 100%;
  height: 100%;
  background-image: url('images/appoinment6.png');
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  padding: 30px;
  border-radius: 12px;
}

.appoinment-content {
  margin-left: 48%;
  padding: 10px 0px;
}

.appoinment-content-head1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
}

.appoinment-content-head2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: #fff;
  margin-top: 20px;
}

.appoinment-content-p {
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
}


.buttons {
  border-radius: 30px;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 17px 56px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.3s;
  cursor: pointer;
  border-radius: 30px;
}

.blob-btn::before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #1F9086;
  border-radius: 30px;
}

.blob-btn::after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}

.blob-btn:hover {
  color: #1F9086;
  border-radius: 30px;
}

.blob-btn:hover::after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #1F9086;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url('#goo');
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #fff;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.3s;
}

@supports (filter: url('#goo')) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

@supports (filter: url('#goo')) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}


.product-card {
  transition: all 0.3s;
}

.product-card:hover {
  box-shadow: -4px 4px 20px -6px #62cbb5;
  transform: scale(1.02);
}

.product-card-btn {
  transition: all 0.3s;
}

.product-card:hover .product-card-btn {
  background: #2da389 !important;
}

.city-btn {
  transition: all 0.2s;
}

.city-btn:hover {
  background: #5DBAA6 !important;
  color: #fff !important;
}











.choose-div {
  cursor: pointer;
  border-radius: 20px;
  padding: 20px 0px;
  transition: all 0.1s;
}

.choose-div:hover {
  background: rgb(225, 247, 255);
  box-shadow: -4px 4px 20px -6px #62cbb5;
  transform: scale(1.02);
}










.news-section {
  margin: 50px 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-subtitle {
  font-size: 14px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #333;
}

.news-title {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}

.news-carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.scroll-btn {
  background: white;
  border: 1px solid #5DBAA6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 18px;
  font-size: 18px;
  cursor: pointer;
  color: #5DBAA6;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}
.scroll-btn:hover{
  background: #5DBAA6;
  color: #fff;
}

.news-cards-wrapper {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  margin-top: 30px;
  width: 90%;
  gap: 2%;
  justify-content: space-between;
  padding: 10px;
  scrollbar-width: none;
}

.news-cards-wrapper::-webkit-scrollbar {
  display: none;
}


.news-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #5DBAA6;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  transition: box-shadow 0.3s;
  flex: 0 0 32%;
  transition: all 0.3s;
  cursor: pointer;
}

.news-card-image img {
  width: 100%;
  display: block;
}

.news-card-content {
  padding: 20px;
}

.news-date {
  color: #606060;
  font-size: 14px;
}

.news-headline {
  font-size: 20px;
  margin-top: 10px;
  line-height: 24px;
  color: #404040;
}

.news-author {
  color: #00749D;
  font-size: 16px;
  margin-top: 10px;
}

.news-card:hover {
  box-shadow: -4px 4px 20px -6px #62cbb5;
  transform: scale(1.02);
}











.faq-container {
  margin: 80px 100px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  height: 430px;
}

.faq-image {
  width: 49%;
  height: 100%;
  border: 1px solid #5DBAA6;
  border-radius: 20px;
  overflow: hidden;
}

.faq-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.faq-content {
  width: 49%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.faq-title {
  font-size: 14px;
  font-weight: 500;
  color: #5DBAA6;
  letter-spacing: 5px;
  margin-top: 10px;
}

.faq-heading {
  font-size: 34px;
  margin-top: 10px;
  color: #404040;
}

.faq-item {
  width: 100%;
  border: 1px solid #5DBAA6;
  border-radius: 8px;
  padding: 15px 15px 15px;
  margin-top: 15px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.faq-question {
  font-size: 18px;
  color: #404040;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-answer {
  font-size: 14px;
  color: #606060;
  padding: 0px 10px;
  line-height: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding-top 0.4s ease;
}

.faq-item.active .faq-answer {
  padding-top: 4px;
}

.faq-item .mdi {
  transition: transform 0.3s ease;
}

.faq-item.active .mdi {
  transform: rotate(180deg);
}

.faq-item.active {
  box-shadow: -3px 3px 20px -6px #62cbb5;
  transition: box-shadow 0.3s ease;
}






 .featured-section {
  margin: 80px 100px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.featured-title {
  font-size: 30px;
  color: #3f3f3f;
}
.carousel-wrapper {
  margin-top: 0px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}
.carousel-button {
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}
.carousel-button.active,
.carousel-button:hover {
  color: #3B997A;
  transform: scale(1.2);
}
.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 0;
  width: 100%;
  align-items: center;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.swiper-slide {
  width: 260px;
  height: 150px;
  border-radius: 20px;
  flex-shrink: 0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.agency-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}








.swiper-slide img{
  width: 50%;
}
 .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}
 .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}








.footer {
  background: #5DBAA6;
  padding: 40px 100px 20px;
  color: #fff;
  font-size: 16px;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 20px;
}

.footer-logo-contact {
  max-width: 350px;
}

.footer-logo {
  height: 40px;
  width: auto;
}

.footer-contact {
  margin-top: 20px;
  line-height: 24px;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.footer-social-icons a {
  text-decoration: none;
  margin-right: 10px;
}

.footer-social-icons i {
  color: #fff;
  font-size: 25px;
}

.footer-links {
  display: flex;
  gap: 150px;
}

.footer-heading {
  color: #fff;
  font-size: 20px;
}

.footer-links ul {
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.footer-links li {
  margin-bottom: 12px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.1s;
}

.footer-links a:hover {
  color: #1b7662;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-copy {
  font-size: 14px;
  margin-top: 5px;
}

.footer-copy i {
  font-size: 12px;
  margin-right: 2px;
}

.footer-apps {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-apps img {
  height: 40px;
  width: auto;
}







.devider-horizontal{
    display: none;
  }














@media (max-width: 1203px) {
  .nav-links {
    gap: 8px;
  }

  .nav-links li a {
    padding: 5px;
  }
  .city-tab {
    padding: 12px 22.5px;
    font-size: 14px;
  }


  .appoinment-content-head1 {
    font-size: 28px;
  }

  .appoinment-content-head2 {
    font-size: 28px;
    line-height: 30px;
  }


  .blob-btn {
    padding: 14px 45px;
    font-size: 16px;
  }




  .product-price-main{
    font-size: 14px !important;
  }
  .product-beds-main{
    font-size: 14px !important;
  }



  .faq-container {
    margin: 80px 100px 60px;
  }

  .faq-image {
    width: 49%;
    height: 430px;
    border: 1px solid #5DBAA6;
    border-radius: 20px;
    overflow: hidden;
  }

  .faq-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .faq-content {
    width: 49%;
  }

  .faq-title {
    font-size: 14px;
    margin-top: 40px;
  }

  .faq-heading {
    font-size: 30px;
  }

  .faq-item {
    padding: 10px;
    margin-top: 15px;
  }

  .faq-question {
    font-size: 16px;
  }

  .faq-answer {
    font-size: 14px;
    line-height: 18px;
  }


}







@media (max-width: 1100px) {
  .product-prop{
    flex-direction: column;
  }
  .product-price-main{
    display: flex;
    width: 100%;
    padding: 0 10px;
  }
  .devider-vertical{
    display: none;
  }
  .devider-horizontal{
    display: block;
  }
}












@media (max-width: 1000px) {

  nav {
    padding: 0px 5vw;
  }

  .nav-links {
    gap: 4px;
  }

  .nav-links li a {
    padding: 10px 2px;
  }

  .logo {
    height: 30px;
  }

  .nav-right {
    gap: 5px;
  }

  .nav-icon {
    margin-left: 0px;
  }

  .nav-right-icon {
    margin-right: 5px;
    font-size: 20px;
  }

  .banner {
  height: 500px;
}
.banner-top-heading {
  font-size: 40px;
  line-height: 40px;
}
.banner-top-p {
  font-size: 18px;
}
.banner-bottom-back{
  border-radius: 8px;
  padding: 15px;
  margin-top: 30px;
}
.banner-tabs1 {
  border-radius: 4px;
}
.prop-tabs,
.all-tabs {
  gap: 2px;
}
.prop-tab,
.all-tab {
  height: 38px;
  font-size: 14px;
}

.banner-tabs2 {
  width: 370px;
  height: 40px;
}
.all-tab {
  height: 32px;
}


.form-location {
  height: 40px;
}
.form-location-i {
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
}
.form-btn {
  height: 40px;
  font-size: 14px;
}
.bottom-type {
  width: 50%;
  height: 40px;
  padding-left: 10px;
}
.bottom-type-i {
  display: none;
}
.custom-select {
  background-size: 24px;
  height: 34px;
}
.custom-options li {
  padding: 10px 10px;
  height: 40px;
}
.bottom-others {
  height: 40px;
  padding-left: 10px;
}
.custom-select1 {
  background-size: 24px;
  height: 34px;
}
.custom-options1 li {
  padding: 10px;
  height: 40px;
}

.custom-select-price {
  background-size: 24px;
  height: 34px;
}
.custom-options-price li {
  padding: 10px;
  height: 40px;
}
.custom-select-area {
  background-size: 24px;
  height: 34px;
}
.custom-options-area li {
  padding: 10px;
  height: 40px;
}
  
  .appoinment-main {
    margin: 0px 5vw;
  }

  .appoinment-img-div {
    margin-top: 50px;
    padding: 10px;
    border-radius: 12px;
  }

  .appoinment-content {
    margin-left: 48%;
    padding: 10px 0px;
  }

  .appoinment-content-head1 {
    font-size: 20px;
    line-height: 20px;
  }

  .appoinment-content-head2 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
  }

  .appoinment-content-p {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
  }




  .blob-btn {
    padding: 12px 35px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
  }




  .city-main {
    margin: 0px 5vw !important;
    margin-top: 50px !important;
  }

  .city-main h2 {
    font-size: 24px !important;
  }

  .city-content {
    display: flex;
    flex-wrap: wrap;
  }

  .product-card {
    width: 32% !important;
    margin-bottom: 20px;
  }

  .product-card h3 {
    font-size: 16px !important;
  }

  .product-card p {
    font-size: 14px !important;
  }

  .product-card .product-address {
    font-size: 14px !important;
  }

  .product-card .product-prop {
    padding: 5px !important;
  }

  .product-price-main {
    font-size: 14px !important;
  }


  .product-prop{
    flex-direction: row;
    padding: 0 10px;
  }
  .product-price-main{
    width: auto;
    padding: 10px 0;
  }
  .devider-vertical{
    display: block;
  }
  .devider-horizontal{
    display: none;
  }





  .choose-main {
    margin: 0 5vw !important;
    margin-top: 40px !important;
  }

  .choose-div {
    width: 48% !important;
    margin-bottom: 0px !important;
  }

  .choose-main h2 {
    font-size: 24px !important;
  }

  .choose-main p {
    width: 90% !important;
  }








  .news-section {
    margin: 40px 5vw 40px;
  }

  .news-subtitle {
    font-size: 12px;
    letter-spacing: 5px;
  }

  .news-title {
    font-size: 24px;
    margin-top: 10px;
  }

  .news-cards-wrapper {
    margin-top: 20px;
  }

  .news-card {
    flex: 0 0 49%;
    border-radius: 8px;
    transition: all 0.2s;
  }

  .news-card-content {
    padding: 12px;
  }

  .news-headline {
    font-size: 16px;
    margin-top: 6px;
    line-height: 18px;
  }

  .news-author {
    font-size: 14px;
    margin-top: 6px;
  }

  .news-btn {
    margin-top: 20px !important;
    height: 40px !important;
    width: 150px !important;
  }





  .faq-container {
    margin: 0px 5vw 60px;
  }

  .faq-heading {
    font-size: 24px;
  }








  .featured-section {
    margin: 0 5vw 60px;
  }

  .featured-title {
    font-size: 24px;
  }

  .carousel-wrapper {
    margin-top: 20px;
    width: 90%;
  }

  .carousel-button {
    font-size: 20px;
  }






  .footer {
    padding: 40px 5vw 20px;
  }

  .footer-links {
    gap: 7vw;
  }

  .footer-apps img {
    height: 35px;
  }









}







@media (max-width: 800px) {

  nav {
    flex-wrap: wrap;
    padding: 10px 20px;
    height: auto;
    justify-content: space-between;
  }

  .logo {
    height: 30px;
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding: 5px 0;
  }

  .nav-links.active {
    display: flex;
    gap: 5px;
  }

  nav ul.nav-links li {
    width: 100%;
    position: relative;
  }

  nav ul.nav-links li a {
    padding: 12px 20px;
    display: block;
  }

  .dropdown {
    position: static;
    border: none;
    background: #f9f9f9;
    margin-left: 10px;
  }

  .dropdown a {
    padding-left: 30px !important;
  }

  .nav-right {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-top: 10px;
    gap: 10px;
  }

  .nav-right-icon {
    font-size: 20px;
  }

  .nav-right button {
    width: 100%;
  }



  .nav-right-desktop {
    display: none;
  }

  .nav-right-mobile {
    display: flex;
    padding: 10px 20px;
    gap: 10px;
  }

  .nav-right-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-right-mobile .nav-right-icon {
    font-size: 24px;
    color: #7D7D7D;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .nav-right-mobile .nav-right-icon i {
    margin-right: 10px;
  }

  .nav-right-mobile button {
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
  }




  .product-prop{
    flex-direction: column;
    padding: 0 10px;
  }
  .product-price-main{
    width: auto;
    padding: 0;
  }
  .devider-vertical{
    display: none;
  }
  .devider-horizontal{
    display: block;
  }


}






@media (max-width: 700px) {
  .banner-bottom-back{
    width: 80vw;
  }
.banner {
  height: 600px;
}
.banner-top-heading {
  font-size: 24px;
  line-height: 30px;
}
.banner-top-p {
  font-size: 14px;
}
.banner-bottom-back{
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}

.banner-tabs1 {
  border-radius: 4px;
  width: 100%;
}



.form-top{
  flex-direction: column;
}
.banner-tabs2 {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}
.all-tab {
  height: 32px;
}


.form-location {
  height: 46px;
}
.form-location-i {
  font-size: 18px;
  margin-left: 4px;
  margin-right: 4px;
}
.form-btn {
  display: none;
}
.showOmMobile{
  display: block;
  height: 100%;
  width: 30%;
  border: none;
  background: #5DBAA6;
}
.showOmMobile i{
  font-size: 20px;
  color: #fff;
}


.form-bottom{
  flex-direction: column;
}
.bottom-type {
  width: 100%;
  height: 46px;
  margin-bottom: 10px;
}
.bottom-others {
  height: 46px;
  width: 100%;
  margin-bottom: 10px;
}

}








@media (max-width: 600px) {
  

  .appoinment-img-div {
    margin-top: 40px;
    border-radius: 8px;
  }

  .appoinment-content {
    padding: 0px 0px;
    margin-left: 45%;
  }

  .appoinment-content-head1 {
    font-size: 16px;
  }

  .appoinment-content-head2 {
    font-size: 16px;
    margin-top: 10px;
  }

  .appoinment-content-p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .blob-btn {
    padding: 8px 20px;
    font-size: 14px;
  }

  .city-main {
    margin-top: 40px !important;
  }

  .city-main h2 {
    font-size: 20px !important;
  }

  .product-card {
    width: 48% !important;
    margin-bottom: 20px;
  }

  .city-tab-main {
    width: fit-content !important;
    height: 50px;
    padding: 4px;
    margin-top: 20px !important;
  }

  .city-tabs {
    gap: 2px;
  }

  .city-tab {
    padding: 12px 5px;
    font-size: 14px;
  }

  .city-main .city-btn {
    height: 40px !important;
    margin-top: 10px !important;
    border-radius: 4px !important;
  }


  .choose-div {
    width: 90% !important;
  }

  .choose-main h2 {
    font-size: 20px !important;
  }

  .choose-main p {
    width: 90% !important;
    font-size: 14px !important;
    line-height: 18px !important;
  }

  .choose-main>div {
    font-size: 12px !important;
  }

  .choose-div h3 {
    font-size: 16px !important;
  }

  .news-section {
    margin: 40px 5vw 0px;
  }



  .news-title {
    font-size: 20px;
  }

  .scroll-btn {
    display: none;
  }

  .news-cards-wrapper {
    padding-bottom: 0px;
    margin-top: 10px;
    width: 100%;
    padding: 0px;
  }

  .news-card {
    flex: 0 0 98.5%;
    border-radius: 8px;
    transition: all 0.2s;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 8px;
  }

  .news-card-content {
    padding: 12px;
  }

  .news-headline {
    font-size: 16px;
    margin-top: 6px;
    line-height: 18px;
  }

  .news-author {
    font-size: 14px;
    margin-top: 6px;
  }

  .news-btn {
    height: 40px !important;
    width: 160px !important;
    font-size: 14px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }



  .faq-container {
    margin: 0px 5vw 40px;
  }

  .faq-image {
    display: none;
  }

  .faq-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .faq-title {
    font-size: 12px;
    margin-top: 0px;
  }

  .faq-heading {
    font-size: 20px;
  }

  .faq-item {
    padding: 15px;
    margin-top: 15px;
    text-align: left;
  }


  .footer-top {
    flex-direction: column;
  }

  .footer {
    font-size: 14px;
  }

  .footer-logo {
    height: 35px;
  }

  .footer-contact {
    margin-top: 10px;
    line-height: 22px;
    text-align: center;
  }

  .footer-social-icons {
    margin-top: 15px;
  }

  .footer-links {
    margin-top: 20px;
    text-align: center;
  }

  .footer-heading {
    font-size: 18px;
  }

  .footer-links ul {
    margin-top: 15px;
  }

  .footer-links li {
    margin-bottom: 6px;
  }

  .footer-bottom {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
  }

  .footer-copy {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .footer-apps {
    gap: 10px;
  }




}







@media (max-width: 510px) {
  .news-btn {
    margin-bottom: 60px !important;
  }

  .appoinment-content {
    margin-left: 40%;
  }

  .appoinment-content-head1 {
    font-size: 14px;
  }

  .appoinment-content-head2 {
    font-size: 14px;
    margin-top: 5px;
  }

  .appoinment-content-p {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 20px;
  }

  .blob-btn {
    font-size: 12px;
    margin-left: 20px;
  }
}










@media (max-width: 430px) {


  .appoinment-content {
    padding: 0px 0px;
    margin-left: 42%;
  }

  .appoinment-content-p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
  }

  .blob-btn {
    padding: 6px 10px;
    margin-left: 10px;
  }





  .product-card {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .product-prop{
    flex-direction: row;
    padding: 110px 10px !important;
  }
  .product-price-main{
    width: auto;
    padding: 10px 0;
  }
  .devider-vertical{
    display: block;
  }
  .devider-horizontal{
    display: none;
  }



}







@media (max-width: 350px) {

  .banner-left-main-heading {
    font-size: 20px;
    line-height: 20px;
  }

  .banner-left-main-p {
    font-size: 15px;
  }



  .appoinment-content {
    margin-left: 40%;
  }

  .appoinment-content-p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
  }

  .blob-btn {
    padding: 4px 10px;
    margin-left: 0px;
  }

}